<h1>Mixed Timelines</h1>

<h5>Received Timelines</h5>

<% @timelines.each do |timeline| %>
	<div class="message">
		<p>ID:</p>
		<p><%= timeline["id"] %></p>
		<p>CREATED TIME:</p>
		<p><%= timeline["created_time"] %></p>
		<p>MESSAGE:</p>
		<p><%= timeline["message"] %></p>
	</div>
<% end %>